<% provide(:title, "Antrenmanlar") %>
<h3>Takımımız antrenmanları</h3>
<p>Takımımız antrenmanlarını ODTÜ Büyük Spor Salonu içerisindeki Aynalı Salon'da (Büyük Spor Salonu girişinde soldaki
  salon)yapmaktadır. Antrenmanlaırmız salı, perşembe ve cumartesi günleri olup salı ve perşembe 18.40-20.15,
  cumartesi ise 16.00-19.00 saatleri arasındadır.</p>
<p>---antrenman içeriği ile ilgili bilgi---</p>