<div class="center jumbotron">
  <h1>ODTÜ Eskrim takımı web sitesine hoşgeldiniz!</h1>
  <h2>
    Hebele de hübele sonunda sitemiz var
  </h2>
  <%= link_to "Bizimle İletişin!", '#', class: "btn btn-lg btn-primary" %>
</div>
