<% provide(:title, "İletişim") %>
<p>Takımımızla ilgili herhangi bir sorunuzda aşağıdaki yollardan bize ulaşabilirsiniz:</p>
<p>Takımımız Facebook sayfası ---odtü eskrim facebook sayfasına link---</p>
<p>Başkan bilgileri-telefon numarası? ---not sure about that---</p>
<p>Belki antrenör isimleri? ---not sure about that---</p>