<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ODTÜ ESKRİM", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Ana Sayfa", root_path %></li>
        <li><%= link_to "Hakkımızda", '#' %></li>
        <li><%= link_to "Giriş", '#' %></li>
      </ul>
    </nav>
  </div>
</nav>